.plantilla-pagina {
  width: 100%;
  min-height: 100vh;
  background: #f3f8fc;
}

.plantilla-zona-principal {
  min-height: 100vh;
  margin-left: 220px;

  display: flex;
  flex-direction: column;

  background: linear-gradient(
    120deg,
    #f8fcff 0%,
    #edf6fc 100%
  );
}

.plantilla-contenido {
  width: 100%;
  flex: 1;

  padding: 18px 28px 35px;

  background: linear-gradient(
    120deg,
    #f8fcff 0%,
    #eef7fd 100%
  );
}

.plantilla-footer {
  width: 100%;
  min-height: 30px;

  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #0875dc;
  color: #ffffff;

  font-size: 11px;
}

@media (max-width: 850px) {
  .plantilla-zona-principal {
    margin-left: 190px;
  }

  .plantilla-contenido {
    padding: 18px 20px 30px;
  }
}

@media (max-width: 650px) {
  .plantilla-zona-principal {
    margin-left: 0;
  }

  .plantilla-footer {
    gap: 20px;
    padding: 8px 15px;
  }
}