.plantilla-pagina{
    width:100%;
    min-height:100vh;
    background:#f3f8fc;
}


.plantilla-zona-principal{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    transition:.3s;
}


.plantilla-zona-principal.abierto{
    margin-left:220px;
}


.plantilla-zona-principal.cerrado{
    margin-left:0;
}


.plantilla-contenido{
    width:100%;
    flex:1;
    padding:18px 28px 35px;
    background:linear-gradient(
        120deg,
        #f8fcff 0%,
        #eef7fd 100%
    );
}


.plantilla-footer{
    width:100%;
    min-height:30px;
    padding:0 20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#0875dc;
    color:white;
    font-size:11px;
}


@media(max-width:650px){

    .plantilla-zona-principal.abierto,
    .plantilla-zona-principal.cerrado{
        margin-left:0;
    }

    .plantilla-footer{
        gap:20px;
        padding:8px 15px;
    }

}